<?xml version="1.0" encoding="utf-8"?>
<form>
  <fields name="params">
    <fieldset name="basic" label="Impostazioni template">
      <field
        name="logotipo"
        type="media"
        label="Logo del Comune"
        description="Seleziona il logo da visualizzare nell'header"
        directory="images"
        preview="true"
      />
      <field
        name="coloreprimario"
        type="color"
        label="Colore Primario"
        description="Scegli il colore primario per il tema del sito"
        default="#0066CC"
      />
    </fieldset>
  </fields>
</form>